name: Ruby

on:
  push:
    branches: [ devlop ]
  pull_request:
    branches: [ devlop ]

jobs:
  rubocop-test:
    name: Minitest
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.2
    - name: Check code
      run: ruby run_minitest.rb
