name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ master ]

jobs:
  rubocop-test:
    name: Rubocop
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.2
    - name: Check code
      run: ls -la
